body {
    font-family: 'Proxima Nova', sans-serif;
}
 /*--Navbar--*/
#logo {
    color: white;
    font-size: 200%;
    text-transform: uppercase;
}

.navbar {
    background-color: #283739;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #a2c11c; 
}
.nav-link {
    color: white;
}

/*--Buttons--*/

.btn--cta {
    border-radius: 15px;
    width: 100px;
}

.btn--green {
    color: white;
    background-color: #a2c11c;
    border-color: #a2c11c;
}

/*--Descritpion--*/

.description-container {
    height: 100vh;
    
   
    
    background: url('../images/Skylight.avif') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.description {
    margin-top: 300px;
}


.description h5 {
    color: black;
}
/*--Capabilities--*/

.capabilities {
    background-color:#283739;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #a2c11c; 

}
.capabilities h1,h5 {
    color: #e0e0e0;
    text-align: center; 
}
.capabilities i {
    font-size: 30px;
    padding: 0px 4px 0px 4px;
}

.team {
    margin-top: 50px;
    border-style: solid;
    padding-left: 10px;
    height: 120px;
    width: 120px;
    background-color: #e9ecef;
}

.reports {
    margin-top: 50px;
    border-style: solid;
    height: 120px;
    width: 120px;
    background-color: #e9ecef;
}
.databases {
    margin-top: 50px;
    border-style: solid;
    height: 120px;
    width: 120px;
    background-color: #e9ecef;
}


.items-highlight h5 {
    color: black;
}

.items-highlight i {
    font-size: 200%;
    margin: 1%;
    padding: 0;
    color:#2c5d63;
}
/*Client Logos*/

#client-logos {
    /*copied code - stackoverflow*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   



  }

.logo {
    margin-top: 50px;
    height: 100px;
    width: 100px;
}

.client-logos-heading {
    font-size: 1.5rem;
    margin-top: 50px;
    color: black;
}


.WG {
    text-align: center;
}





/* Footer */

.social-media {
    text-align: right;
  }
  .social-media li {
    display: inline;
  }
  .social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 0;
    color:#2c5d63;
  }


/* Colors used */

.first-color { 
	background: #283739; 
}
	
.second-color { 
	background: #2c5d63; 
}

.third-color { 
	background: #a2c11c; 
}

.fourth-color { 
	background: #e0e0e0; 
}