body {
    font-family: 'Proxima Nova', sans-serif;
}
 /*--Navbar--*/
#logo {
    color: white;
    font-size: 200%;
    text-transform: uppercase;
}

.navbar {
    background-color: #283739;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #a2c11c; 
}
.nav-link {
    color: white;
}

/*--Buttons--*/

.btn--cta {
    border-radius: 15px;
    width: 100px;
}

.btn--green {
    color: white;
    background-color: #a2c11c;
    border-color: #a2c11c;
}


/*--Descritpion--*/

.description-container {
    height: 100vh;
    
   
    
    background: url('../images/Skylight.avif') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.description {
    position: relative;
    top: 100px;
}


.description {
    color: white;
}

.left {
    position: relative;
    top: 200px;
    display: block;
    color: white;
    float: left;
}
.right {
    position: relative;
    top: 200px;
    display: block;
    float: right;
}
.right img {
    float: right;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/*--Capabilities--*/

.capabilities {
    background-color:#283739;
    border-style: solid;
    border-width: 4px 0px 4px 0px;
    border-color: #a2c11c; 

}
.capabilities h1,h5 {
    color: #e0e0e0;
    text-align: center; 
}
.capabilities i {
    font-size: 30px;
    padding: 0px 4px 0px 4px;
}

.team {
    margin-top: 50px;
    border-style: solid;
    padding-left: 10px;
    height: 120px;
    width: 120px;
    background-color: #e9ecef;
}

.reports {
    margin-top: 50px;
    border-style: solid;
    height: 120px;
    width: 120px;
    background-color: #e9ecef;
}
.databases {
    margin-top: 50px;
    border-style: solid;
    height: 120px;
    width: 120px;
    background-color: #e9ecef;
}

.items-highlight h5 {
    color: black;
}

.items-highlight i {
    font-size: 200%;
    margin: 1%;
    padding: 0;
    color:#2c5d63;
}
/*Client Logos*/

#client-logos {
    /*copied code - stackoverflow*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 20px;   



  }

.logo {
    margin-top: 50px;
    height: 100px;
    width: 100px;
}

.client-logos-heading {
    font-size: 1.5rem;
    margin-top: 50px;
    color: black;
}


.WG {
    text-align: center;
}





/* Footer */

.footer {
    background-color: #283739;
    padding: 20px;
    border-style: solid;
    border-color: #a2c11c;
    border-width: 4px 0px 0px 0px;
}

.row-bottom {
    display: flex;
    flex-wrap: wrap;

}

.footer li {
    list-style: none;
    display: inline;
}

#pages ul, a {
    position: relative;
    top: 6px;
    display: inline;
    color: white;
}

.social-media {
    text-align: right;
}
.social-media li {
    display: inline;
    position: relative;
    top: 5px;
}
.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 0;
    color:white;
}
/* Services Page */

/* Code from Love Running */

#services-section {
    height: 600px;
    color: white;

    background: url('../images/Skylight.avif') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#left-section {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-section {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-section {
    width: 33%;
    margin: 0 auto;
}

.left-items {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-items {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#Offer {
    padding-top: 50px;
}

#square-container {
    height: 300px;
    width: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #283739;
    border-width: 1px;
    margin: 0 auto;
    margin-top: 50px;
    
    background: url('../images/firmbee-com-gcsNOsPEXfs-unsplash.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Colors used */

.first-color { 
	background: #283739; 
}
	
.second-color { 
	background: #2c5d63; 
}

.third-color { 
	background: #a2c11c; 
}

.fourth-color { 
	background: #e0e0e0; 
}